<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel=stylesheet type="text/css" href="css/style.css">
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load( 'swfobject', '2.2' );
    </script>
    <script type="text/javascript">
      var PLAYER_ID = 'videoDiv';
      var VIDEO_ID = '<%= @youtube_ids.delete_at(0) %>';
      var list = '<%= @youtube_ids.join(',') %>';

      var swfUrl = 'http://www.youtube.com/v/' + VIDEO_ID
                 + '?enablejsapi=1'
                 + '&listType=playlist'
                 + '&playlist=' + list
                 + '&autoplay=1'
                 + '&loop=1'
                 + '&color=white'
                 + '&theme=light';

      var replaceElemId = PLAYER_ID;
      var width = '480';
      var height = '295';
      var swfVersion = '8';

      var params = { allowScriptAccess: 'always' };    // 外部のドメインからのアクセスを許可
      var atts = { id: replaceElemId };                // 埋め込みプレーヤーのID

      // YouTubeプレーヤーの埋め込み
      swfobject.embedSWF(
          swfUrl,
          replaceElemId,
          width,
          height,
          swfVersion,
          null,
          null,
          params,
          atts
          );
    </script>

    <title>YouTube Packer</title>
  </head>
  <body>
    <div id="header">
      <h1>YouTube Packer</h1>
      <h2 class="en">Extract YouTube movies from URL, And pack these to a playlist.<h2>
      <h2 class="ja">YouTubeの動画をURLから抽出して、プレイリストを作成します。<h2>
    </div><!-- header -->

    <div id="main">
      <div id="form">
        <form action="/" method="POST">
          <div class="en"><p>Enter URL that you want to make playlist.</p></div>
          <div class="jp"><p>プレイリストにしたい動画が埋め込まれたサイトのURLを入力してください。</p></div>
          <% if @error_message %>
            <div class="error">
              <p><%= @error_message %></p>
            </div>
          <% end %>
          <p><input type="url" size="80" name="url" value="<%= @url %>" placeholder="http://..." required autofocus></p>
          <p><input type="submit" value="Make Playlist!"></p>
        </form>
      </div><!-- form -->

      <div id="video">
        <% if @youtube_ids.any? %>
          <h2><a href=<%=@url%>><%=@title%></a></h2>
          <div id="videoDiv"></div>

          <!-- <p><a href="/">back</a></p> -->
        <% end %>
      </div><!-- video -->
    </div><!-- main -->

    <div id="footer">
      <p>Thank you for using.</p>
    </div><!-- footer -->
  </body>
</html>
